@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  font-family: "Open Sans", sans-serif !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

.MuiButton-text {
  text-transform: none !important;
}
